*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#topHeader {
    background-color: #00368C;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#topHeader #socials ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
}

#topHeader #socials ul a {
    color: #FFF;
    transition: color .3s;
    padding: 5px;
}

#topHeader #socials ul a:hover {
    color: #6ba4ff;
}

#banner {
    background-image: url('../images/mainBanner.jpg');
    height: 300px;
    background-size: cover;
    display: flex;
    align-items: end;
}

#banner h1 {
    background-color: rgba(255, 255, 255, .6);
    padding: 50px;
    margin: 0;
    width: 100%;
    font-size: 1.5em;
    color: #00368C;
    text-align: right;
}

#mainNav {
    background-color: #FF9700;
}

#mainNav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
}

#mainNav ul li ul {
    overflow: hidden;
    height: 0;
    flex-direction: column;
}

#mainNav ul li ul li {
    background-color: #FF9700;
}

#mainNav ul li ul li a {
    font-size: .9em;
    padding-left: 40px;
}

#mainNav ul li a,
#mainNav ul li label {
    display: block;
    text-decoration: none;
    color: #00368C;
    font-size: 1.2em;
    padding: 10px 20px;
    transition: background-color .3s;
}

#mainNav ul li a:hover,
#mainNav ul li label:hover {
    background-color: #ffd599;
}

#mainNav input.subMenuToggler {
    display: none;
}

#mainNav input.subMenuToggler~label::after {
    content: "\025BC";
    font-size: .5em;
    font-weight: bold;
    margin-left: 10px;
}

#mainNav input.subMenuToggler:checked~label::after {
    content: "\025B2"
}

#mainNav input.subMenuToggler:checked~ul {
    height: auto;
}

#mainContent {
    padding: 0 20px;
}

#mainContent .card {
    background-color: #EEE;
    border: 1px solid #00368C;
    border-radius: 5px;
}

#mainContent .card a {
    text-decoration: none;
    color: #00368C;
}

#mainContent .card figure {
    padding: 0;
    margin: 0;
}

#mainContent .card figure img {
    max-width: 100%;
    border-radius: 4px 4px 0 0;
}

#mainContent .card .card-content {
    padding: 20px;
}

#mainContent .card .card-content .card-title {
    font-size: 1.1em;
}

#mainContent .card .card-content .card-body {
    font-size: .8em;
}

#mainContent .card .card-content .card-footer button {
    display: inline-block;
    padding: 5px;
    background-color: #FF9700;
    color: #FFF;
    border: 1px solid #00368C;
    border-radius: 5px;
    transition: background-color .3s;
}

#mainContent .card .card-content .card-footer button:hover {
    background-color: #ffd599;
}

#category {
    background-color: #00368C;
    padding: 20px;
}

#category h1 {
    color: #FF9700;
    margin: 0;
    font-size: 1.2em;
}

#category nav ul {
    list-style-type: none;
    margin: 0;
    padding: 10px 0;

}

#category nav ul li a {
    display: block;
    background-color: #FFF;
    color: #00368C;
    text-decoration: none;
    padding: 10px;
    border: 1px solid #FF9700;
    transition: background-color .3s;
}

#category nav ul li:first-child a {
    border-radius: 5px 5px 0 0;
}

#category nav ul li:last-child a {
    border-radius: 0 0 5px 5px;
}

#category nav ul li a:hover {
    background-color: #eee;
}

#category nav ul li a span {
    font-size: .6em;
    background-color: #00368C;
    color: #FFF;
    padding: 2px;
    border-radius: 5px;
    min-width: 20px;
    display: inline-block;
    text-align: center;
}

#mainFooter {
    font-size: .8rem;
}

#mainFooter #footerContent section {
    border-bottom: solid 1px #FFF;
    background-color: #00368C;
    padding: 20px;
    color: #eee;
}

#mainFooter #footerContent h1 {
    font-size: 1.2em;
    color: #FF9700;
}

#mainFooter #copyright {
    text-align: center;
    font-size: .5em;
    padding: 20px;
    color: #00368C;
}

.overlay {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    background-color: rgba(0, 0, 0, .8);
    margin: 0;
    padding: 50px;
    display: none;
}

.overlay img {
    max-width: 100%;
    max-height: 100%;
    height: auto;
}

@media screen and (min-width: 768px) {
    #mainNav {
        display: flex;
        justify-content: center;
    }

    #mainNav ul {
        flex-direction: row;
        justify-content: center;
        max-width: 960px;
        flex-grow: 1;
    }

    #mainNav ul li {
        flex-grow: 1;
        text-align: center;
        position: relative;
    }

    #mainNav ul li ul {
        position: absolute;
        width: 100%;
    }

    #mainNav ul li ul li {
        text-align: left;
    }

    #mainFooter #footerContent {
        display: flex;
    }

    #mainFooter #footerContent section {
        border-right: solid 1px #FFF;
        border-bottom: none;
        padding: 0 20px;
    }

    #mainFooter #footerContent section:last-child {
        border: none;
    }
}